
@font-face {
    font-family: 'Sarlotte';
    src: url('Fuentes/Sarlotte.otf') format('opentype');
}

@font-face {
    font-family: 'Mulish';
    src: url('Fuentes/Mulish-Regular.ttf') format('truetype');
}

body {
    font-family: 'Sarlotte', sans-serif;
    background-color: #FFF;
    color: #021425;
    margin: 0;
    padding: 0;
}

/* Barra superior */
.top-bar {
    background-color: #A4ECD2; /* Fondo verde menta */
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px; /* Espaciado interno */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Sombra inferior */
   
}

    .top-bar img {
        width: 40px; /* Tamaño del ícono */
        height: auto;
    }


.container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.logo {
    width: 80px;
    height: auto;
    margin: 20px auto;
}

h1 {
    font-family: Sarlotte;
    font-size: 2rem;
    margin-bottom: 20px;
}

p, li {
    font-size: 15px;
    margin-bottom: 20px;
    font-family: Mulish;
    line-height: 1.5;
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
}

.custom-radio-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

    .custom-radio-list .asp-ListItem {
        display: block;
        margin-bottom: 3%;
        margin-left: 20%;
    }

    .custom-radio-list input[type="radio"] {
        transform: scale(1.5);
        margin-right: 10px;
    }

    .custom-radio-list .option-label {
        margin-left: 20%;
    }

.containerquestion {
    background-color: rgba(239, 237, 237, 0.10);
    padding: 15px;
    border-radius: 10px;
}

.question {
    text-align: left;
    margin: 20px 0;
    font-family: Mulish;
}

button {
    background-color: #A4ECD2;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    button:hover {
        background-color: rgba(239, 237, 237);
    }

/* Menú lateral */
.side-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 99;
    top: 0;
    right: 0;
    background-color: #252C2A; /* Fondo oscuro */
    overflow-x: hidden;
    transition: 0.5s ease-in-out; /* Efecto suave */
    padding-top: 70px; /* Espaciado superior */
    box-shadow: -4px 0 6px rgba(0, 0, 0, 0.3); /* Sombra */
}
    .side-menu h5 {
        font-family: Sarlotte;
        font-size: 30px;
        color: #A4ECD2;
        
    }

    .side-menu a {
        font-family: Sarlotte;
        padding: 15px 15px;
        text-align: center;
        font-size: 20px;
        color: #A4ECD2;
        display: block;
        transition: 0.3s;
        text-decoration: none; /* Elimina el subrayado */
    }

        .side-menu a:hover {
            background-color: rgba(255, 255, 255, 0.1); /* Fondo claro al hover */
            color: #FFFFFF;
            text-decoration: none; /* Asegura que tampoco se subraye al pasar el cursor */
        }

    .side-menu .closebtn {
        position: absolute;
        top: 15px;
        right: 25px;
        font-size: 50px;
        color: #A4ECD2;
        cursor: pointer;
        background: none; /* Elimina cualquier fondo */
        border: none; /* Asegúrate de que no tenga bordes */
        outline: none; /* Elimina el borde al enfocarse */
        transition: transform 0.3s ease; /* Efecto suave al interactuar */
    }

/* Efecto de desenfoque */
.blurred {
    filter: blur(5px);
    transition: 0.3s ease;
}
